[2018-10-19 07:11] abuijze opened #1 "Potential conflict between Kafka partitioning and Axon segmentation"
@altroy75 commented on [Tue Sep 04 2018](https://github.com/AxonFramework/AxonFramework/issues/762)

After trying for analyze how Kafka topic partitioning will work with Axon event processing segments, I've got an impression that having a Kafka topic with several partitions and at the same time more than one Axon segment can potentially lead to skipped, not processed events.

Consider a situation

[2018-10-19 07:44] ghilainm commented on #1
@abuijze Why do you need full control? Can't you do it the other way around and use Kafka to balance partitions across consumers?

Segments are used in Axon in order to implement parallel consumption if I am not wrong. Why can't you assign dynamically partitions to segments based on the Kafka auto balancing of partitions across consumer group?

[2018-10-26 09:35] abuijze commented on #1
Hi @ghilainm,
the way tracking processors work, is that the processor itself is in charge of partitioning and ordering. However, I had already discussed with @nklmish that it would be nice to also have a SubscribableMessageSource for Kafka, which allows Kafka to decide which segments are delivered to which nodes. That message source could also support replays by resetting Kafka pointers to the beg

[2018-11-29 19:49] gustavomr commented on #1
Any date to have it fixed? Thanks!

[2019-01-16 12:42] ghilainm opened #2 "KafkaTrackingToken has no partitions assigned"
I am using Spring Boot and Axon Kafka 4-RC.2

 I have the following configuration
[code]

I have also disable Axon auto configuration for kafka because it seems to be buggy.

I have added the following configuration class:

[code]

And the following EventProcessor:

[code]

I have observed that the KafkaTrackingTocken was not assigned to all partitions of my topic, I don't understand why. What sho

[2019-02-08 07:05] pms-github opened #3 "Axon4 Kafka: configuration"
Team

Axon4 kafaka integration documentation is inadequet. Can you please share sample / example with configuration / changes w.r.t. default axon server connector code.
Axon4 + SpringBoot Java + Kafka

[2019-02-08 12:18] pms-github commented on #3
Question got answered on reference guide issue tracker.

Looking forward for final release of Axon4 kafka extension

[2019-02-08 12:18] #3 closed

[2019-05-21 16:50] somilbansal86 opened #4 "Is this being actively maintained?"
Hi, We are planning to use this is production but its concerning that there has been not activity on this for sometime now? When is this schedule to go in production and if so, is this project being actively maintianed ?

[2019-05-22 08:01] smcvb commented on #4
Thanks for you interest in the Kafka extension for Axon Framework, @somilbansal86.

To answer your question, you've rightfully noted there hasn't been a lot of work on this repository for some time now.

[2019-05-22 08:18] abuijze commented on #4
Hi @somilbansal86,
this module has started as a community contribution. While the original authors have committed to continuing development, this is subject to their availability to work on it.
While we (at AxonIQ) also plan to put effort in continuing development ourselves, our time is also limited, and we currently face conflicting priorities.

I will close this issue, at it is a question, rathe

[2019-05-22 08:18] #4 closed

[2019-05-22 12:14] somilbansal86 commented on #4
Thanks Allard, Appreciate your prompt response.

[2019-05-29 16:58] mtelewicz opened #5 "Reading from two Kafka topics in an ACL"
Hi everyone,

So my team is creating a proof-of-concept suite of microservices using Axon Framework.  When we started v3.3.5 was the latest version so that's what we're using.

First, a little description.  We have two bounded contexts - let's call them "reporting" and "verification."  Each context contains one microservice at the moment.  Both microservices are running on top of Spring Boot.  Sin

[2019-06-14 17:54] mamt84 commented on #1
Any progress on this?

[2019-06-17 07:30] smcvb commented on #5
Sorry for the late reply @mtelewicz. Times are busy at AxonIQ, and sometimes some people have to wait a little longer for a response then we'd like.
Regardless, here I am, and I am sure I can provide some background giving the scenario you've described.

As you've rightfully noted, Axon works with Event Processors as 'the mechanical component to provide events to your Event Handling functions', wh

[2019-06-17 07:30] #5 closed

[2019-06-17 21:38] mamt84 commented on #1
Any progress on this?

[2019-06-18 13:18] mamt84 commented on #1
Not sure why this repo was archived but the questions on this link are relevant to the issue discussed here.
https://github.com/AxonFramework/ReferenceGuide/issues/86

[2019-06-20 11:52] smcvb commented on #1
Hi @mamt84, let me shed some light on your last question.
The Reference Guide repository you are referencing has been replaced by the [AxonIQ Reference Guide](https://github.com/AxonIQ/reference-guide) repository. Thus, any adjustments or additions you'd like to see introduced in the guide, should be directed towards this new repository.

Now, for the following comment:

At the moment, AxonIQ as m

[2019-06-20 14:38] mamt84 commented on #1
Hi @smcvb ,

Thanks for getting back on this! I have to say that I don't know what prompted me to ask the same question twice, honestly, this may have been unintentionally.

I understand you guys have your hands full with other things on the Axon Framework ecosystem, that's reasonable, but at the same time this repo hasn't move for more than 4 months and the question on when or if this feature wil

[2019-06-21 08:58] smcvb commented on #1
Thanks for providing this feedback @mamt84 and voicing your concern in regards to progress on the Kafka Extension.
Given the requirement you have, I understand the pressure you are experiencing in regards to the status of this repository.

I'll discuss this with the team, but I am pretty sure the outcome will be in favor of resolving this asap.
As soon as work starts on this issue, the labels will

[2019-06-21 09:27] qw3rtrun commented on #1
Hi @mamt84 @smcvb
Thank you very much for follow-upping this topic. Our team is in a similar situation as Martin's. And the Kafka-extension seems to be a most suitable open-sourced option for distributing events with axon.

[2019-08-08 12:18] larsf96 commented on #1
@abuijze @smcvb Are there any updates on this topic? I'm currently not able to use the replay feature with Kafka

[2019-08-08 13:37] smcvb commented on #1
We are currently working hard at finalizing the 4.2 release of Axon Framework and Axon Server which is eating up all our time.
The plan is to, after this, ensure to get the Kafka Extension into a good state, so that we can provide a 4.0, 4.1 and 4.2 compatible version of it.

I can however not give you a time scale on this, so I can only ask you to stay patient.
Hope you understand @larsf96, sorry

[2019-08-09 00:14] marinkobabic opened #6 "Axon-spring-boot-starter - kafka version problem"
Have tried to run this two versions

- axon-spring-boot-starter version: '4.1.2'
- axon-kafka version: '4.0-M2'

but I'm getting always the binary incompatibility issue when the configuration org.axonframework.config.EventProcessingModule is getting loaded. The exception is IncompatibleClassChangeError Implementing class. I tried also to run the axon-spring-boot-starter version: '4.0' with no succ

[2019-08-09 08:09] smcvb commented on #6
We try to aim for an equal release cadence for the framework, server and all the extensions.
Thus, a Axon Framework 4.0 works with all the 4.0 extensions release too.
The extensions to this end rely on frameworks 4.0 release too.

That means that a project which depends on 4.1 but has an extension on 4.0 will also pull in framework 4.0, which is causing the issue you're seeing here.
To resolve thi

[2019-08-20 15:00] anno1985 opened #7 "ETA for final release of version 4.0?"
Is there a roadmap yet for releasing a version 4.0 (final) of the project?
Is the RC2 considered stable? :)

[2019-08-20 15:09] smcvb commented on #7
Work on pulling the Kafka Extension out of it's release candidate state is eminent.
Per default, we do not give exact dates on this.
I can however confirm it will occur prior to another minor release like 4.2, which we release last week for Axon Server, Axon Framework, etc.

As the nature of this issue is a question, I will be closing it as such.

[2019-08-20 15:09] #7 closed

[2019-09-02 09:41] lbilger opened #8 "DefaultProducerFactory closes non-transactional Kafka Producer after `producerCacheSize` messages were sent"
We are using axon-kafka with spring boot, mostly keeping the default settings. We noticed that after sending a couple of events to kafka, the producer is closed and we get an INFO message saying `Closing the Kafka producer with timeoutMillis = 30000 ms.`

After that, sending any more events fails with `java.lang.IllegalStateException: Cannot perform operation after producer has been closed`.

Look

[2019-09-02 11:49] smcvb commented on #8
Thanks for filing this concern with us @lbilger.

At the moment, the Axon Kafka Extension is in a milestone state.
As such, bugs/issues like this are to be expected to some extent.

We are on the verge of pulling it out of this state in to a dedicated release though.
This concern might thus be addressed pretty soon.
However, if the resolution is pressing for your development, a contribution in the

[2019-09-02 12:09] lbilger commented on #8
Thanks for the quick reply @smcvb! I have created a pull request that should fix this issue.

[2019-09-02 12:13] a-hegerath opened #10 "KafkaPublisher should track events instead of subscribing on them"
The `KafkaPublisher` uses a `SubscribableMessageSource` to subscribe on events and send them to a configured Kafka topic. Since sending is not re-tried upon failure, events may get "lost".
A reliably approach could be to use a `StreamableMessageSource` instead, to have event _tracking_ (rather than event _subscription_) semantics. The tracking token would be incremented on successful sending only

[2019-09-02 13:33] abuijze commented on #10
Hi @a-hegerath,

the reason that the KafkaPublisher uses a `SubscribableMessageSource` rather than a Streamable one, is because the publication of Events to Kafka was intended to be part of the publishing transaction. With a Streamable one, that's no longer the case.

The flow would be:
1. Command arrives
2. Transaction started
3. Command handler invoked, Events staged for publication
4. Command h

[2019-09-02 14:28] a-hegerath commented on #10
Hi @abuijze ,

thanks for pointing this out. I admit that the current implementation _is_ reliable given that command handling and event sending is part of the same transaction.

Our use case is different though. In our application it shall be possible to handle commands (and thus modify application state) even while event transmission over Kafka is not possible. This seems to be possible in a rea

[2019-09-17 16:05] zambrovski commented on #10
I'll try to provide an implementation for that.

[2019-09-18 13:02] zambrovski opened #12 "Fix contribution guide"
The contribution guide references the IDEA IntelliJ formatter settings. The provided URL is invalid.

[2019-09-18 13:15] zambrovski commented on #10
Using the implementation you can now support the following flow in addition to that one, defined by https://github.com/AxonFramework/extension-kafka/issues/10#issuecomment-527150083

1. Command arrives
2. Transaction started
3. Command handler invoked, Events staged for publication
4. Command handling completes, Unit of Work starts Commit
5. Events sent to AxonServer / Event Store
6. Transactions

[2019-09-30 09:13] larsf96 commented on #1
@abuijze @smcvb Do you already have an update on this?

[2019-09-30 09:47] smcvb commented on #1
As you might have noticed if you follow AxonIQ channels, last couple of weeks have been tremendously busy for us due to webinars, trainings and our conference last Friday.

A little insight: I have a ton of pending changes on my local environment to align this extension with the standard we like to achieve. But prior to that I will be giving precedence over #11 as a added feature for resilience (d

[2019-10-08 12:28] #10 closed

[2019-10-15 10:03] smcvb opened #15 "Kafka Configurer Module"
At the moment, the only easy approach to configure the Kafka Extension in an Axon project, is to use the `kafka-spring-boot-starter` dependency provided.
It would be beneficial if the `kafka` module would contain a `ConfigurerModule` implementation, which for example could be tied in through the Service Loader mechanism, to configure Kafka outside of the scope of Spring (Boot) too.

[2019-10-17 13:57] #12 closed

[2019-10-17 13:58] smcvb commented on #12
Thanks for pointing this out @zambrovski. Adjusted the `CONTRIBUTING.md` file to point to the `axon_code_style.xml` file in the main Framework repo.

[2019-10-18 13:08] #8 closed

[2019-10-22 13:01] smcvb opened #17 "Introduce SubscribableMessageSource implementation"
As is referred upon in issue #1, there is a certain discrepancy between Kafka's notion of Partitions per Topic and Axon's approach of Segmenting the Event Stream for a Tracking Event Processor.

Having both approaches fully compliant with one another takes some configuration effort, thus making it more difficult for end users to easily employee and set up.

As a follow up on #1 discussion have bee

[2019-10-22 13:19] smcvb opened #18 "StreamableMessageSource fine tuning to overcome Partitioning / Segmentation discrepancy"
As described in #1, Kafka's approach of Partitions in a Topic and Axon's notion of Segments of an Event Stream used by a Tracking Event Processor can definitely bite one another, resulting in unhandled events.

In essence, it would be most straightforward to have a `SubscribableMessageSource` implementation in the Kafka Extensions (as described in issue #17). However, it is definitely beneficial t

[2019-10-22 13:23] smcvb commented on #1
I've taken the effort to traverse this issue thread, the user group and trail on previous discussion regarding this problem to come to a plan of attack to resolve the discrepancy between Kafka's Partitioning and Axon's Segmentation for Tracking Event Processors.

To that end, I have split up this ticket in #17 and #18.
As such, I will be closing this issue as 'Obsolete'.

[2019-10-22 13:23] #1 closed

[2019-11-08 17:58] amitoj opened #20 "Kafka consumer factory error"
Running the example I'm getting following error message on startup

Setting

results in

[2019-11-12 12:58] smcvb commented on #20
@amitoj would you mind sharing how you are running the sample at this moment?

If you are using the Axon Kafka Extension version from Maven Central, I would expect this issue at the moment to be honest.

I've solved this on the `master` branch by forcefully setting the bean name of the consumer factory and producer factory which, as you've noticed, as they stand clash with Spring's `kafkaConsumerF

[2019-11-12 12:58] #20 closed

[2019-11-14 08:33] smcvb commented on #18
Reopening as #19 partially resolved this issue; the commit hook reacted a little to fast.

[2019-11-14 09:07] smcvb opened #21 "Check for missing Producer/Consumer properties"
The `KafkaProperties` class is likely missing some configurable properties. This means users do not have "full Kafka control" over the `Producer` and `Consumer` this extension uses.
Firstly, we should verify which are missing, if any, after which we should introduce those.

[2019-12-05 14:25] a-hegerath opened #25 "Outdated tracking token used upon Kafka partition assignment"
We are using the Kafka extension in our application to deliver Axon events over Kafka. Recently, we encountered an event loss after the Kafka broker was temporarily not available for the consumer. Since we found the event in the Kafka topic, we assumed that the event got lost on consumer side.
After diving somewhat into the code of the Kafka extension, I guess that I have spotted the problem:

In

[2019-12-06 12:39] smcvb commented on #15
A `ModuleConfiguration` implementation for Kafka Message Sources has been introduced in #17, more specifically PR #24.

[2019-12-10 10:54] smcvb commented on #18
Pull request #23 resolved point two of this issues description, by enforcing a unique `group.id` prefix and suffix combination. The prefix provides a sensible Axon name, whilst the suffix defaults to creating a `UUID` on every open stream call.

[2019-12-10 11:27] smcvb commented on #2
Hello @ghilainm.

Let me first apologies for the extreme delay on this issue you posted here. We had to take harsh decision when it came to maintaining this Release Candidate in favor of all other Axon products. Due to internal debates, we decided against working on the Kafka Extension for quite some time.

As you however might have noticed, I have picked up development on it to proceed with a new

[2019-12-10 16:28] smcvb commented on #21
Closing this issue as it has been resolved in pull request #26

[2019-12-10 16:28] #21 closed

[2019-12-11 10:22] smcvb commented on #17
This issue has been resolved in pull request #24, hence closing.

[2019-12-11 10:22] #17 closed

[2019-12-12 11:31] smcvb commented on #25
Thanks for filing this concern with us @a-hegerath. As it stands, I was just starting to work on #18, which imposes adjustments to the `ConsumerUtil` class, but more specifically how the `ConsumerRebalanceListener` behaves.

As you can read from issue #18, we will enforce the offset to be zero for unknown partitions. This thought is in line with how Axon deals with empty / non-existent `TrackingTo

[2019-12-12 12:38] smcvb commented on #25
As said, the problem is being addressed in #27. Feel free to take a look @a-hegerath, I'd want to know whether you feel this will resolve the problem you've encountered too.

And again, thanks for filing this concern with us!

[2019-12-12 13:22] smcvb opened #28 "KafkaTrackingToken should specify the topic per partition"
The current `KafkaTrackingToken` does not allow for storing several topic-partition.
This is however a very common use case when it comes to consuming Kafka Records.

We should thus expand the `KafkaTrackingToken` to contain topic knowledge along side the `partitionPositions` map. Additionally, this should adjust the `StreamableKafkaMessageSource` to allow for several topics instead of a single on

[2019-12-12 14:54] smcvb commented on #25
Closing as this issue has been resolved in pull request #27

[2019-12-12 14:54] #25 closed

[2019-12-12 14:55] smcvb commented on #18
Closing as this issue has been resolved in pull request #27

[2019-12-12 14:55] #18 closed

[2019-12-12 16:00] a-hegerath commented on #25
Hi Steven,

the changes look very reasonable to me. Until a new release of axon-kafka is available, we'll build a version ourselves which include your changes. We'll let you know if we still observe an event loss as described also with that version.

Thanks,
Andre

[2019-12-13 10:24] smcvb commented on #25
I am very happy to hear that Andre!
A release will come shortly, promised.
So stay tuned for that. :-)

[2019-12-20 11:28] smcvb commented on #28
Closing this issue as it has been resolved in pull request #29.

[2019-12-20 11:28] #28 closed

[2019-12-23 04:11] shubhojitr opened #30 "KafkaMessageSource Implementation for createTokenAt(Instant dateTime)"
I'm using axon 3.4.1 with kafka as StreamableMessageSource

There are scenarios where I would like to stop, reset-token(or createTokenAt) and start a particular tracking processor. Stopping and starting is pretty much straight forward. But I'm facing difficulty to reset the token to a particular time stamp as KafkaMessageSource does not provide an implementation for createTokenAt(Instant dateTime)

[2019-12-23 09:55] smcvb commented on #30
Thanks for filing this issue @shubhojitr, I had it in the back of my mind somewhere any how but didn't find the time to draft up a description for it.

I am still thinking how this is gonna be implemented. The `StreamableMessageSource` works with timestamps, whilst as you might now Kafka deals with offsets. Guessing there's an API to retrieve the offset at a given timestamp but if there isn't...we

[2019-12-24 10:48] shubhojitr commented on #30
@smcvb Thanks for your reply. I'll definitely look into `SubscribableKafkaMessageSource`. Any timeline for the new kafka RC release?
And yes as recommended by you I'm in processes of upgrading my app to latest version of axon.

[2019-12-24 12:04] smcvb commented on #30
RC3 should be out there before the end of the year. :-)

[2020-01-08 13:36] mishkaechoes opened #31 "File Leak"
There are two or three issues at play at the moment.
1. After `org.apache.kafka.common.KafkaException: java.io.IOException: Too many open files` the KafkaConsumer thread dies instead of crashing the entire service. This creates a zombie process which requires external healthchecks to monitor.

2. After running multiple different tests and a file leak detector we are 100% certain the root cause is

[2020-01-08 15:12] smcvb commented on #31
Thanks for reporting this issue with us @mishkaechoes.
Would you mind elaborating which version of the extension you are using?

Just within 2019 we released RC3 which brings **a lot** of adjustments towards the entirety of the Kafka Extension.
If you are on RC2, I'd firstly recommend moving towards RC3 and verify if the same issue occurs again.

If the problem prevails, then it sounds like we hav

[2020-01-08 15:20] mishkaechoes commented on #31
We are on c2346904deb6198d0f039e7c9d9c2194805db5b9 off master.
This is a few commits behind but after reviewing those commits nothing appears to reflect the issue we are seeing.

[2020-01-08 18:04] mishkaechoes commented on #31
Pulled latest and it appears to have stabilized. We're going to retest in a new environment with more load.

[2020-01-08 19:49] mishkaechoes commented on #31
After updating to RC3 and pushing to an isolated environment in PCF we are observing the following:

[code]

[2020-01-08 19:51] mishkaechoes commented on #31
We've also observed that in some instances the above stack is not visible but Axon still fails to publish with no errors or tracestack

[2020-01-08 21:21] mishkaechoes commented on #31
When the service restarts it appears to restart with a kafka.producer bean active

[2020-01-09 17:39] mishkaechoes opened #32 "On Multiple Executions SubscribeableMessageSource fails to be created for the Producer"
The reason for this appears to be due to an entry in the token_entry table. Even though we are configured for a subscribeable producer and consumer.

The second run of the application fails due to the entry in the token_entry.

Attached is a startup log that may be useful with Aspects
[ess_logs.log](https://github.com/AxonFramework/extension-kafka/files/4041706/ess_logs.log)

[2020-01-09 17:39] mishkaechoes commented on #32
We are running RC3

[2020-01-09 18:13] mishkaechoes opened #33 "Producer while Tracking fails to instantiate a KafkaProducer on the first ~10 calls"
Switching to a Tracking Kafka Producer with a definition for `StreamableKafkaMessageSource` as per example the first ~10 messages are dropped. Eventually a KafkaProducer is instantiated the application works as expected (we have not tested it under load yet).

[2020-01-10 08:55] smcvb commented on #33
That's,,very bothersome indeed.
@mishkaechoes, would you mind trying to verify this behavior with the sample which is present in this repository? A modify sample which better reflects your environment as a draft/PR which shows this behavior would greatly benefit solving the problem.

I am asking this as I have used the sample at every step of the dev. cycle on RC3 and do not recall said issue.

[2020-01-10 09:08] smcvb commented on #32
Thanks for filing this issue with us @mishkaechoes.

Would you be able to share how you have configured subscribable production and consumption with the Kafka Extension?
Maybe something obvious pops up from that.
Per reference, [this](https://docs.axoniq.io/reference-guide/v/4.0/extensions/kafka) is how the extension configuration is documented at the moment.

Added, I am not overly confident that

[2020-01-13 12:52] smcvb commented on #31
Hey @mishkaechoes, we have had some time to digest and investigate on our part.

To summarize your problem statement, you say that (A) the `DefaultProducerFactory` in the extension creates a new `KafkaProducer` for **every** event coming through.
Added, you would assume (B) a single instance or a cached pool of ten instances would be sufficient.

Having said that, the `DefaultProducerFactory` will

[2020-01-13 21:03] mishkaechoes commented on #33
See below. Note to reproduce the application must run twice. On the second run a token is assigned to the token entry. While the problem can be reproduced through a number of configurations. For identical results run subscribing / subscribing.

Modified sample code https://www.dropbox.com/s/y5stsnw0mak85q2/axon-sample-reproduced.log?dl=0

See logs https://www.dropbox.com/s/y5stsnw0mak85q2/axon-sam

[2020-01-14 01:42] mishkaechoes commented on #31
This issue can be closed it was resolved with latest. The problem only manifested with c234690 . That being said we have been stuck with different issues #32 #33 to retest latest with load. We do observe that it no longer creates a new KafkaPublisher per event as previously observed.

[2020-01-14 02:58] mishkaechoes commented on #33
Oops incorrectly linked the sample code to the log https://www.dropbox.com/s/hj8qbt0ff50zy24/kafka-axon-example.zip?dl=0

[2020-01-14 04:59] shubhojitr opened #34 "SerializationException while fetching KafkaTrackingToken from JpaTokenStore after processor enters retry mode"
I'm using Axon 4.2 with extension-kafka 4.0-RC3
Below are the axon configurations used:
![image](https://user-images.githubusercontent.com/42104131/72314381-adc64500-36c9-11ea-908a-fa94f94941e1.png)

Application works fine and is able to consume events from kafka topic until there is any kind RuntimeException while handling an event. If a RuntimeException occurs during event handling the processor

[2020-01-14 05:01] shubhojitr commented on #34
This seems to be happening only if jackson is configured as a serializer and I'm unable to replicate the same with DEFAULT/XSTREAM

[2020-01-14 09:45] smcvb commented on #34
Thanks for filing this @shubhojitr. Seems that Kafka's `TopicPartition` class cannot be deserialized as expected. This will require a test and fix, which will surely be added to 4.0.

As a quick fix on your part, I would suggest to change the `general` serializer to `xstream` and use the `jackson` serializer for `messages` instead. That way, the `XStreamSerializer` will be used for Token (and Saga

[2020-01-14 15:56] mishkaechoes commented on #31
After retesting this is still an issue. A new producer is created and close is not invoked.

[2020-01-14 18:55] mishkaechoes commented on #31
Behavior is a result of using TRANSACTIONAL

[2020-01-15 07:17] shubhojitr commented on #34
Thankyou for your suggestion @smcvb. I've changed  the `general` serializer to `xstream` and ` jackson` for `messages` and `events` serializer. I"m creating JpaTokenStore using below bean. I can see only Token is using `xstream` and for Messages/Sagas `jackson` is used. However I did not checked Snapshots.

    @Bean
    public JpaTokenStore jpaTokenStore(@Autowired EntityManagerProvider entityMan

[2020-01-15 09:48] smcvb commented on #34
Switching back would cost some effort indeed, as you'd have stored tokens in a form you cannot deal with once you change it from `xstream` to `jackson`. This could be resolved by a wrapper serializer containing both, which upon deserialization checks the format, but when serializes **always** uses `jackson`.

Having said this, we typically suggest to use `xstream` as the general serializes since i

[2020-01-15 10:04] smcvb commented on #31
Have you retested with debug logging turned on for all the publishing components from the kafka extension? If not, doing so and sharing it here would be highly beneficial to figure out the problem you are experiencing.

[2020-01-16 17:40] mishkaechoes opened #35 "Messages Replayed without a trigger resulting in a unique constraint violation domain_event_entry"
We've encountered this problem prior to updating to RC3.

An event was fired at 8:30 am est
<img width="1669" alt="Screen Shot 2020-01-16 at 12 34 06 PM" src="https://user-images.githubusercontent.com/1927197/72548577-f6623780-385c-11ea-9b24-9b48010713ba.png">
This event was only fired once and processed by Kafka once.
Note the epoch time 1579181440697 is 8:30 am est

We observe the unique constra

[2020-01-16 18:02] mishkaechoes commented on #33
Were you able to pick up the attached source and validate?
As mentioned previously this problem is reproduced when adding persistance, generating events, then restarting.

If 10 messages were recorded on the first run, the first 10 are ignored on the second.

[2020-01-16 18:05] mishkaechoes commented on #32
This issue is the result of a TrackingSubscriber being created by Axon despite subscribing producer being configured. The core of the issue is #33

To answer your question it's tokenId being being non-null on the second run. The reason for this is the mismatch between globalIndex on the last saved token_entry record is higher than the current index.

[2020-01-17 08:26] smcvb commented on #35
Could you share a small sample project so that I can replay this exact behavior? Without such a tool we would be searching for a needle in a haystack, which is a tremendous waste of time.

Additionally, you make it sound like you are reading an event from a Kafka topic through the extension and storing it in the Event Store. Why are you doing this exactly? You can just use the Kafka topic as the e

[2020-01-17 08:44] smcvb commented on #33
Pushing for help does not speed up work on issues, @mishkaechoes. As it stands we have other prioritize. As soon as work commences on the issues you've shared, we will make sure to update the tickets accordingly.

Please have patience in the meantime or contribute to the extension by drafting up a pull request resolving the problem.

[2020-01-17 13:18] mishkaechoes commented on #35
The problem reproduced again in a new environment that has been untouched for 4 days. We have not been able to attribute the issue to network, kafka rebalances or other user activity. If we could effectively reproduce the issue ourselves we would work towards resolving it. What is clear is that the framework is reprocessing a message that was not invoked through Kafka.

With all due respect while

[2020-01-18 20:25] lbilger commented on #31
@smcvb, @mishkaechoes I'm afraid I can't explain this problem either. We are using the extension in production but not using transactional mode, so we are not seeing this problem. I looked at the code again and I would expect it to do exactly what you described above, @smcvb. We try to get a producer from the pool and create a new one only if none is available. When the producer is closed, it is r

[2020-01-20 08:01] shubhojitr opened #36 "TrackingEventProcessor fails to do incremental retry's when TrackingEventProcessor.eventAvailabilityTimeout is set to default 1000 ms"
I'm having below axon configurations

![image](https://user-images.githubusercontent.com/42104131/72707832-5548e900-3b9c-11ea-9c77-22b5a0634305.png)

Ideally with these configurations whenever any tracking processor enters retry mode it should attempt to retry in 1s, 2s, 4s, 8s, 16s and so on till it reaches max interval of 60s. But during my testing I've noticed abnormal behavior like the process

[2020-01-20 09:45] shubhojitr commented on #36
Attaching the logs.. As after some time even with the increased `eventAvailabilityTimeout` the issue resurfaced. Now it looks like an issue due to `AsyncFetcher`  polling in between kafka rebalancing.
[retry-log.txt](https://github.com/AxonFramework/extension-kafka/files/4085483/retry-log.txt)

[2020-01-20 11:08] smcvb commented on #36
If I check the `TrackingEventProcessor` implementation, I do not have direct evidence why setting the `eventAvailabilityTimeout` adjusts the behavior of how/when the `errorWaitTime` (which is in charge of setting the retry window) is set to `1`.

Do you by chance see the `TrackingEventProcessor` state switching between `STARTED` and other states?

And, how are you testing this?

[2020-01-21 03:19] shubhojitr commented on #36
During errorMode in below snippet `processBatch` method should re-process the evt and throw an `Exception` which will be caught and the `errorWaitTime` should get incremented. But no error was thrown from `processBatch` and hence the `errorWaitTime` was reset to 1.

                try {
                    eventStream = ensureEventStreamOpened(eventStream, segment);
                    processBat

[2020-02-13 15:02] pms-github opened #37 "Multiple TEP not working"
Got 2 aggrigate, 1 saga and 2 projections with TEP. However at run time it publushed event to either  one of the TEP (Saga / projection 1 / projection2)

Got below setup

- Kafka extension with Postgres as ES

- Order agrigate and command service

- Shipment as aggrigate and Saga event hander

- query app as event cosumer

- Notification app event consumer

Refer source code at - https://gitlab.co

[2020-02-13 15:07] smcvb commented on #37
Given the current description it is unclear to me whether this is a "misconfiguration" or a bug, although I am guessing it is something with the set up. As such, the label "question" will be added this issue.

Additionally, I will close of this issue immediately, as the GitHub issue tracker **is not** intended for usage questions of the products. For that, I'd like to refer to StackOverflow or the

[2020-02-13 15:07] #37 closed

[2020-02-24 04:16] shubhojitr commented on #36
Hi @smcvb, did you get a chance to look into this issue ?

[2020-02-26 18:42] smcvb commented on #36
Understandable you're asking for feedback on the matter @shubhojitr.
We at AxonIQ have been very busy with the latest 4.3 release of Axon Framework and Axon Server.

The artifacts have both been released last week, but there's still some concluding work to be done on the matter (not forgetting other company requirements which come and go).

I do plan to traverse back to the Kafka extension soon to

[2020-11-30 20:31] muammeryucel opened #82 "KafkaAutoConfiguration should not be auto-configured after InfraConfiguration"
### Basic information
* Axon Framework version: 4.4
* JDK version: 11
* Kafka Extension version: 4.0-RC3
* Complete executable reproducer if available (e.g. GitHub Repo): https://github.com/muammeryucel/axon-kafka-test.git

KafkaEventPublisher bean, which is responsible for publishing events to Kafka, is configured by KafkaAutoConfiguration, and while it being created, the factory method also regi

[2020-12-01 09:08] smcvb commented on #82
Thanks for figuring this out and providing such a detailed page of information @muammeryucel!
Flaky event handling behaviour has been spotted, also by others, but time and effort didn't allow us to dive into it. I'll have a look at your sample project to validate the stated solution just to be sure, but I am trusting you hear because clearly you've put a lot of thought into this.

The last note yo

[2020-12-01 10:55] smcvb commented on #82
I've tested both suggested way to reproduce, and I was able to replay both successfully on my machine.

Thus, I think we have a solution in place, which I'd very much would like to see as a PR!
Granted, if you have the time to provide a pull request to the Kafka Extension.
Let me know if you are up for that; if not, I'll add the auto configure configuration myself.

[2020-12-01 19:35] muammeryucel commented on #82
I created a PR (https://github.com/AxonFramework/extension-kafka/pull/83), but its build process has been pending on travis for a while. When I took a look at previous builds, I noticed that, the last build also had failed.

As I've seen and you've mentioned, some components about event processing module seem a bit complicated. If there is a forum, or something like this, about rewriting axon-spri

[2020-12-02 08:30] smcvb commented on #82
Noted, thanks pointing it out. TravisCI sometimes doesn't act nicely due to the large number of jobs they have to process. It can thus simply take a couple of hours before a build can actually start. Similarly, there's sadly a time based test in the Kafka Extension which sometimes succeeds, sometimes it doesn't. The PR you've provided I believe hit both predicaments, which I'd simply call "bad luc

[2020-12-02 08:58] #82 closed

[2020-12-05 19:41] muammeryucel opened #84 "Subscribing Producer Mode not working as expected"
### Basic information

* Axon Framework version: 4.0.4
* JDK version: 11
* Kafka Extension version: 4.0-RC3

Kafka event publishing is supposed to work in two modes: subscribing or tracking. In tracking mode, event publishing is handled by a separate tracking event processor thread asynchronously. In subscribing mode, which is default, it should be handled within the same thread synchronously but

[2020-12-05 20:26] muammeryucel commented on #84
I created a PR (https://github.com/AxonFramework/extension-kafka/pull/85) and added an integration test for this bug.

To solve this bug, I assigned handler instance matching for default kafka processing group. I am not sure if this is a proper solution, but when I investigated deeply, I noticed that, if there is not any assignment for a handler instance, the framework looks for @ProcessingGroup a

[2020-12-08 09:21] smcvb commented on #84
Aah darn, we actually noted this issue as something being amiss in the `EventProcessingConfigurer#assignHandlerTypesMatching(String, Predicate<Class<?>>)` implementation. This has been resolved in [this](e6249f13e71e70e71c187320bd7ecd1401ac8fbc) commit. This commit is part of Axon Framework release 4.4.3.

However, as you might have noticed, the Kafka Extension is on Axon Framework version 4.0.4 a

[2020-12-09 11:06] smcvb commented on #84
Closing this issue as it has been resolved in PR #85

[2020-12-09 11:06] #84 closed

[2020-12-13 16:09] muammeryucel opened #91 "Dependabot Spring Framework upgrade has broken the build!"
Downgrading to version 5.3.1 fixes the build.

[2020-12-13 16:25] muammeryucel opened #92 "KafkaPublisherTest.testPublishMessagesWithAckModeNoUnitOfWorkShouldBePublishedAndReadSuccessfully sometimes fails"
### Basic information

* Axon Framework version: 4.0.4
* JDK version: 11
* Kafka Extension version: 4.0-SNAPSHOT

KafkaPublisherTest.testPublishMessagesWithAckModeNoUnitOfWorkShouldBePublishedAndReadSuccessfully publishes 10 messages to the event bus and polls Spring's embedded kafka broker to consume generated kafka messages. Sometimes these attempts retrieve all the messages but sometimes only 7

[2020-12-13 18:03] muammeryucel commented on #91
IMHO Spring version should be decided by Spring Boot and Spring Kafka. It shouldn't be clearly declared. For the axon-kafka module, it should be managed by spring-kafka. For autoconfigure module, it should be managed by Spring Boot. In addition, axon-kafka-example shouldn't be inherited from axon-kafka-parent. It should be inherited from spring-boot-starter-parent, because it exemplifies the use o

[2020-12-14 10:59] smcvb commented on #91
Arguably not a bug if you ask me, but still something we can indeed improve on. I've adjust the labels accordingly and attached @sandjelkovic as he's working on adjusting this behavior. As always, thank you so much for the insights here @muammeryucel. Any and all help is always very much appreciated. :+1:

[2020-12-14 19:13] muammeryucel commented on #91
I totally agree with you @smcvb. It isn't a bug, you are right. I shouldn't have opened the ticket with predefined issue templates. Sorry.

[2021-01-17 23:57] hsenasilva opened #104 "README.md change"
### Enhancement Description
The actual release candidate of extension-kafka is 3 (RC-3), but actually in README.MD is written: 'release candidate' (two)

I'll send a pull request with this little enhancement.

[2021-01-18 09:47] smcvb commented on #104
Closing as this issue has been resolved in PR #105.

[2021-01-18 09:47] #104 closed

[2021-01-18 10:31] #92 closed

[2021-01-29 10:39] sandjelkovic opened #108 "Fix CI build and optimise test process"
### Enhancement Description

Fix the CI build by either making test more resilient to random failures, or using another approach for integration testing.
One different approach to integration testing might be to replace `EmbeddedKafka` with `TestContainers` Kafka module.

### Current Behaviour

Since moving to GitHub Actions, the CI build and tests are not very stable. While locally all tests are

[2021-01-29 10:43] sandjelkovic commented on #91
As the core of this issue were compilation issues caused by dependency incompatibility, which was resolved in https://github.com/AxonFramework/extension-kafka/pull/96 I would consider this issue resolved. While the CI build is still not entirely fixed, the tests can be now run locally and the reasons for current CI failures are entirely different. I created https://github.com/AxonFramework/extensi

[2021-01-29 10:43] #91 closed

[2021-01-29 11:42] azzazzel commented on #108
The error I experienced while running the actions was
[code]

So I tried (a shot in the dark) to increase the `zkSessionTimeout` value of `@EmbeddedKafka` but it didn't help. The tests were just hanging there (for over 40 min on my fork).

A also tried to run them locally with [`act`](https://github.com/nektos/act). Unfortunately I run into [this issue](https://github.com/nektos/act/issues/507). A

[2021-02-15 16:00] #108 closed

[2021-02-18 09:14] lfgcampos opened #114 "Remove spring-kafka-test"
### Enhancement Description

Remove `spring-kafka-test` from the project since we migrated to test containers.
Some of their methods are still being used but we would rather copy the used methods than importing the whole dependency.

### Current Behaviour

`spring-kafka-test` is still on our pom files.

### Wanted Behaviour

Remove `spring-kafka-test` from our dependency.

### Possible Workarounds

[2021-02-19 10:05] #114 closed

[2021-05-19 10:28] idugalic opened #139 "Provide `defaultTopic` property by default"
### Enhancement Description

Provide `defaultTopic` property (`KafkaProperties`) by default.

### Current Behaviour

Currently, the extension does not provide a default value for `defaultTopic` property.

### Wanted Behaviour

To have a default value for this property so it is not needed to explicitly configure this property in the application.

### Possible Workarounds

You have to specify this p

[2021-07-13 12:28] #34 closed

[2021-07-13 12:31] smcvb commented on #2
I will close this issue, given the extended period of silence.
If somebody is experiencing the same problem, be sure to comment here to reopen it.

[2021-07-13 12:31] #2 closed

[2021-07-13 12:47] smcvb commented on #35
Do hope you have succeeded with adapting your code or constructing something new.
As it stands, there are several users of this extension not mentioning any of the problems you described; hence why a sample project from your hand, present on GitHub with an explanation of how to run it, would've been beneficial for us and others, but even more so for _you and your team_.

As we haven't heard from y

[2021-07-13 12:47] #35 closed

[2021-07-13 12:55] smcvb commented on #31
Closing this issue due to inactivity and lack of reoccurrence at other users.

If somebody does encounter the same problem again, please do reply in this thread.
When doing so, it would be beneficial if you can provide:
- the versions of Axon and Kafka used
- all configuration around Axon and Kafka
- an extract of the log statements on debug level for the Kafka Extension classes
- if possible, a s

[2021-07-13 12:55] #31 closed

[2021-07-16 22:19] leechedan opened #163 "Support Streaming Processor Reset Operation"
### Basic information

* Axon Framework version: 4.2.2
* JDK version:  1.8.601
* Kafka Extension version:4.0-RC3
* Complete executable reproducer if available (e.g. GitHub Repo):

### Steps to reproduce
[code]
call the userListener.on()

### Expected behaviour

fetch event functionly, and rebuild the aggregate status

### Actual behaviour

`2021-07-17 06:12:24.241  INFO 1372 --- [nio-8090-exec-1]

[2021-07-16 22:21] leechedan commented on #163
ccording to the stacks print, at `org.axonframework.extensions.kafka.eventhandling.consumer.DefaultConsumerFactory.createConsumer(DefaultConsumerFactory.java:67) [axon-kafka-4.0-RC3.jar:4.0-RC3]` position, reset operation will create another consumer and registry to jmx that will conflict to the consumer registred.

[2021-07-19 09:11] smcvb commented on #163
From your description, it sounds like Axon should remove the `Consumer` once the processor is shut down.
It shouldn't be too hard to achieve.

I also notice a serialization issue in your stack trace somewhere.
Just out of curiosity, but does this problem occur too when you use the `XStreamSerializer`?

Concluding, I'd rephrase this issue as "Support Streaming Processor Reset Operation", as it seem

[2021-07-20 04:51] leechedan commented on #163
yes, confirmed it work while  using the `XStreamSerializer`, so the problem is reset failed when using the jackson serializer

[2021-07-20 08:29] smcvb commented on #163
Awesome, happy to hear that was the culprit.
Honestly, I assumed the PR you did last week would've solved the problem.

Granted, it's not released yet of course.
Have you tried doing a reset, adding the fix you did in pull request #158, @leechedan?

[2021-07-22 08:45] leechedan commented on #163
I just cannot reproduce this bug for now, so supposing close this issue.

[2021-07-22 11:43] smcvb commented on #163
No worries there. Just happy to hear it's no longer occurring.
If it does pop up again, be sure to reply to this issue!

[2021-07-22 11:43] #163 closed

[2021-07-27 13:42] #139 closed

[2021-07-28 08:44] smcvb commented on #15
This issue is paramount to move the Kafka Extension from Axon 4 to Axon 4.5, due to the graceful startup and shutdown process.
Being able to configure everything in one spot greatly simplifies that, hence why this issue's priority is increased.

[2021-07-28 13:55] smcvb commented on #15
After some further investigation, a more trivial solution was spotted to make this work.
Furthermore, since Kafka's Producer and Consumer require an abundance of properties, it's not straightforward to derive a concise `ModuleConfiguration` for the Kafka Module that doesn't use Spring.
This adjusts the priority and usefulness quite some.

[2021-07-30 11:34] smcvb commented on #6
Updated this issue to release 4.5, as we've decided to release the Kafka Extension based on the current Framework version.

[2021-07-30 12:01] #6 closed

[2021-08-09 08:40] larsw opened #169 "Errors in log from docker containers (kafka-axon-example)"
### Basic information

* Kafka Extension version: commit 7b5902912d66888bce92268949ac574d719b8b21

`docker-compose -f kafka-axon-example/docker-compose.yaml up`

### Expected behaviour

A-OK

### Actual behaviour

Loads of:
[code]

[2021-08-09 09:28] smcvb commented on #169
Thanks for filing this issue with us @larsw. We'll look into it.

If you are up for the task, any help to fix this would obviously be very much appreciated!
Please do not see it as a requirement, though. Help is great but not mandatory.

[2021-08-09 09:33] lfgcampos commented on #169
It used to work in the past, no idea when/how it got broken.
Nevertheless, a fix is provided on https://github.com/AxonFramework/extension-kafka/commit/1dfa72f398030797f996f3bcc488a8ca27d34102.

It was related to the `KAFKA_ADVERTISED_LISTENERS` property which was set as `localhost` where it should be using the container name.
For more info on the matter, I found this blog to be very useful: https

[2021-08-09 09:33] #169 closed

[2021-08-12 09:19] smcvb commented on #33
I've taken quite some time to figure out where this problem might reside within the Kafka Extension.
In that process, I went through the following setup permutations:

- [Subscribing](https://docs.axoniq.io/reference-guide/axon-framework/events/event-processors/subscribing) Consumer & Producer
- [Subscribing](https://docs.axoniq.io/reference-guide/axon-framework/events/event-processors/subscribing

[2021-08-12 09:21] smcvb commented on #32
I will close this issue as "obsolete," as "the core of the issue" is #33, which was just closed as resolved.

[2021-08-12 09:21] #32 closed

[2021-08-13 13:49] smcvb commented on #36
Yep, I just did.
Used the [Kafka Example](https://github.com/AxonFramework/extension-kafka/tree/master/kafka-axon-example) with the following adjustments:
 - The `BankEventHandler` throws a `RuntimeException` for every event it handlers
 - Configured the `PropagatingErrorHandler` for the `kafka-group` processing group (services the `BankEventHandler`) to ensure it enters the retry mode

This provi

[2021-08-13 13:49] #36 closed

[2021-10-12 09:30] zambrovski opened #193 "Support Event Upcasters during reading of events"
### Enhancement Description

If the changes of the event classes are introduced the Kafka extension will try to deserialize the events using current class structure without the ability to match the binary representation of the event to the new structure. This will lead to a permanent fail of the Kafka consumer, since the structural change can't be adopted.

In case of Aggregate, Axon Framework pro

[2021-10-12 09:57] zambrovski commented on #193
Discussed on forum by @abuijze https://discuss.axoniq.io/t/kafka-and-upcasting/1695/2

[2021-10-12 10:04] zambrovski opened #194 "Fix CI/CD pipeline"
### Expected behaviour

CI/CD Pipeline deployes snaphosts / releases

### Actual behaviour

Due to incomaptibility in a module naming scheme, JavaDoc maven plugin fails to detect the name of the Kafka module. See: https://github.com/AxonFramework/extension-kafka/runs/3836134591?check_suite_focus=true

[2021-10-15 14:02] smcvb commented on #194
The Sonar issue has to do with the fact we can't easily share the token with contributors outside of the AxonIQ organization.
I have looked into this shortly, and there's a means to adjust the workflow entirely to (1) keep the tokens secure and (2) usable by others.
As you might've guessed, this is an issue _on all_ our open source repositories.

[2021-10-15 15:12] zambrovski commented on #194
I'm aware of this problem. Usually the way to go will to split the build into two pipelines. One pipeline without sonar and one for sonar issues... This will give you a chance to see if the build runs correctly.

[2021-10-29 12:50] zambrovski opened #199 "Separate execution of unit tests from integration tests"
As a developer I want to have a separation between quick unit tests and long-running integrated/integration tests which rely on external resources (Kafka in a testcontainer), SpringBoot Application start or other long running activities.

[2021-11-03 10:44] #193 closed

[2021-11-03 14:11] zambrovski opened #200 "Cleanup Maven POMs"
I noticed that the poms inside the project can be slightly improved by applying general good practices to them:

- all plugin versions should be defined in plugin management
- the plugin configuration should be defined at one place and don't need to be overwritten in each pom.

I would like to provide a PR fixing it.

[2021-11-25 13:38] #199 closed

[2021-12-09 15:07] rhubarb opened #213 "Error running example: "The XStream instance is a hard requirement and should be provided""
### Basic information

* Axon Framework version: 4.6.0-SNAPSHOT
* JDK version:  11
* Kafka Extension version: 4.6.0-SNAPSHOT
* Complete executable reproducer if available (e.g. GitHub Repo):

### Steps to reproduce

Simply follow the steps in the README for the kafka-extension example

### Expected behaviour

It runs at least!

### Actual behaviour

Fails at startup with:
[code]
Seems related to t

[2021-12-10 09:24] smcvb commented on #213
Thanks for bringing additional attention to this. We spotted it too and heard a contributor wanted to provide a fix.
As a matter of fact, that fix is present, and you can find it [here](https://github.com/AxonFramework/extension-kafka/pull/214).

[2021-12-13 13:53] #213 closed

[2021-12-13 13:56] lfgcampos commented on #194
This is closed by https://github.com/AxonFramework/extension-kafka/pull/201, right? Can we close it?
ping @zambrovski

[2022-01-28 22:03] tiger-seo opened #240 "axon-kafka-spring-boot-starter fails when spring-boot-devtools enabled"
### Basic information

* Axon Framework version: 4.5.8
* JDK version:  17.0.2
* Kafka Extension version: 4.5.2
* Complete executable reproducer if available (e.g. GitHub Repo):

Stack Trace:
Exception in thread "main" java.lang.IllegalStateException: Unable to load devtools settings from location [META-INF/spring-devtools.properties]
	at org.springframework.boot.devtools.settings.DevToolsSettings.

[2022-01-31 09:44] smcvb commented on #240
Thanks for bringing this to our attention, @tiger-seo!
We completely missed this when we revamped the pom files of the Kafka extension.

I agree with you in that I assume the missing section to be the `resources` part from the `build` section.
I'll add this and validate it right away.

[2022-01-31 10:16] smcvb commented on #240
Closing this issue as commit 9bc2345 resolves it.

[2022-01-31 10:16] #240 closed

[2022-01-31 10:34] smcvb commented on #240
By the way, I've made a [4.5.3 release](https://github.com/AxonFramework/extension-kafka/releases/tag/axon-kafka-4.5.3) containing the aforementioned fixing commit.
Please give it a try, @tiger-seo, and let us know whether it resolves the predicament for you too!

[2022-01-31 12:54] tiger-seo commented on #240
@smcvb thank u very much for quick actions - the issue has gone ;)

[2022-03-03 14:52] gklijs opened #249 "Remove beta stage note in the readme."
### Enhancement Description

As the extension is mature and used in several places in production, it's not beta anymore.

### Current Behaviour

Currently it's stating it's still in beta stage.

### Wanted Behaviour

A readme that doesn't note it's in beta stage.

[2022-03-04 08:52] #249 closed

[2022-03-08 15:51] #200 closed

[2022-03-09 10:41] gklijs opened #254 "Go through Sonar issues and either improve the code, or ignore the issue."
### Enhancement Description

Sonar is pointing to some code improvements, some of them might be false positives, but some would improve the code if handled.

### Current Behaviour

See [sonarcloud](https://sonarcloud.io/summary/overall?id=AxonFramework_extension-kafka) for the current issues.

### Wanted Behaviour

An empty list of issues, either by fixing them or ignoring them.

[2022-03-11 09:04] #254 closed

[2022-03-23 08:52] gklijs opened #260 "Allow filtering or sending different event to different topics in the publisher."
### Feature Description

In some cases we want to only send certain events via Kafka. Also a typical Kafka setup is using a different topic for each message type. It would be nice if this was configurable.

### Current Behaviour

Currently there is just one topic to which all events are sent.

### Wanted Behaviour

Add an optional mapping lambda, from EventMessage to Optional<String> KafkaPublishe

[2022-03-24 16:31] gklijs opened #261 "Create a TokenStore based on a kafka topic."
### Feature Description

Currently when you use a Subscribing Event Processor, if you don't implement a token store, it will use the `InMemoryToken` store, which will mean it will start reading from the beginning on restart. Of course it's possible to use a token store based on a database, since we are storing data in Kafka it would be nice to have a token store implementation based on a Kafka top

[2022-04-05 07:43] gklijs commented on #261
This could use a JSON per processing group. Updates will be tricky given the async nature. As when there are multiple instances one could update a group, based on what he has as the 'latest' state, thereby resetting the claim of another instance.

To prevent this we might want to go with group + instance as key, or only instance. But in that case we also need something to know the current instance

[2022-04-15 10:55] aupodogov opened #273 "Reduce unique consumer group creation when consuming events with Streamable Message Source"
### Enhancement Description

When consuming events from Kafka using `StreamableKafkaMessageSource` a new consumer group id is generated each time the event stream is opened. It eventually creates too many consumer groups in Kafka, that never be used again.

### Current Behaviour

Each time when Kafka event stream opened via `StreamableKafkaMessageSource` new consumer group id suffix is generated.

[2022-04-15 11:43] gklijs commented on #273
Hi Podogov,

Thanks for cresting the issue. It's sonething I noticed earlier, but didn't get to to create an issue yet. Feel free to create a pull request. I'll probably be able to work on it myself otherwise in about a week.

[2022-04-15 14:26] gklijs commented on #273
If you need to you already could configure the `groupIdSuffixFactory` on the `StreamableKafkaMessageSource.Builder` to be always the same. You do have to watch out, I think, with multiple instances. One could claim the token, but if it's part of a group, it might not claim the related partitions via the Kafka API, causing errors.

[2022-04-15 14:50] aupodogov commented on #273
Hi @gklijs! Thanks for the advice! We decided to switch to `SubscribableMessageSource`.
I think I can provide PR for this issue next week.

[2022-04-15 15:28] gklijs commented on #273
I took a good look, and we can do without the consumer group. We do need to check how many partitions there are the first time, after that we can rely on the token. looks like I good improvement over the current implementation.

[2022-04-15 15:48] aupodogov commented on #273
I didn't understand, @gklijs. Could you explain your idea in more details?

[2022-04-15 16:14] gklijs commented on #273
The functionality of storing the offsets is already not used. But to use `.subscribe(topics)` you also need an user group. However we can fetch the metadata, find the partitions, and use the `.assign(partion)` and thus skipping the need for an user group. That does require some code changes, but it will be fully compatible with the current tokens.

[2022-04-21 14:10] zambrovski opened #276 "Processor is not going to error mode if the FetchEventTask dies."
### Basic information

* Axon Framework version: 4.5.9
* JDK version: 11
* Kafka Extension version: 4.5.3

### Steps to reproduce

We are using the Kafka Extension with Azure Event Hubs and ran in the following error. For some Azure reasons, we received a `TopicAuthorizationException` which caused the `Fetcher` to quit the `FetchEventTask`. After that the processor is _NOT_ going to the error stat

[2022-04-21 16:55] gklijs commented on #276
Hi Simon, thanks a lot for creating the issue.
Your analysis of the problem seems correct.
I'm not sure yet what would be the best way to fix it. It would be nice if it would restart the KafkaConsumer on certain errors. I'm not sure if that happens when we propagate the error. In any case, we need to be careful to clean up the earlier work.

I'll dive deeper into this when I have some time, hopefu

[2022-05-10 08:49] gklijs commented on #273
@aupodogov fix is available with either `4.5.4-SNAPSHOT` or `4.6.0-SNAPSHOT`, please let us know if a 4.5.4 release soon would be preferable.  Thanks again for raising the issue.

[2022-05-10 08:49] #273 closed

[2022-05-10 11:07] aupodogov commented on #273
@gklijs I’d rather see it in earlier release. So I vote for 4.5.4. And thanks for resolving this issue!

[2022-05-11 13:30] gklijs commented on #273
@aupodogov there is one other fix, https://github.com/AxonFramework/extension-kafka/issues/276 we would like to include. I just opened the pr, hopefully, we can release 4.5.4 soon.

[2022-05-12 08:07] gklijs commented on #276
Fixed, we'll probably release `4.5.4` soon which contains the fix.

[2022-05-12 08:07] #276 closed

[2022-05-17 16:33] #261 closed

[2022-05-23 18:13] gklijs commented on #273
@aupodogov, thanks to @smcvb, 4.5.4 is available now.

[2022-07-05 12:56] zambrovski opened #304 "Current documentation is confusing / wrong"
Hi guys,

I'm studying the changes you introduced in 4.5.4 and trying to understand how to deal with the fact that no group id is provided anymore. By doing so, I was looking through the docs and found the old description in it: https://docs.axoniq.io/reference-guide/extensions/kafka#consuming-events-with-a-streamable-message-source

I think this is very confusing:

[code]
which contradicts with t

[2022-07-05 13:02] zambrovski opened #305 "Upgrade of a patch release introduced a deprecated methods and breaks in runtime"
### Basic information

* Axon Framework version: 4.5.12
* JDK version:  11
* Kafka Extension version: 4.5.4

### Steps to reproduce

Switched from 4.5.3 to 4.5.4

### Expected behaviour

No errors in log, since it is a patch release.

### Actual behaviour

[code]

[2022-07-05 13:06] gklijs commented on #304
Hi Simon, thanks for bringing this to our attention. As the reference guide has its own repo, I created an issue referring to this one there. I think I can think it up shortly as it's not much work, and helps prevent confusion.

[2022-07-05 13:06] #304 closed

[2022-07-05 13:17] gklijs commented on #305
Hi Simon, I'll try to reproduce the problem locally. Could you please share the kafka server / broker version used? Not sure if that's relevant but it might be helpful.

[2022-07-05 13:24] zambrovski commented on #305
I observed the same behavior on:
- Azure Event Hubs
- Local Kafka running in Docker wurstmeister/kafka:lates (`wurstmeister/kafka@sha256:2d4bbf9cc83d9854d36582987da5f939fb9255fb128d18e3cf2c6ad825a32751`) created on `2022-05-28T09:30:54.604933291Z` labeled: 2.13_2.8.1 on amd64/linux

I believe this is not a server problem.

[2022-07-06 13:47] gklijs commented on #305
Hi @zambrovski, with Redpanda and a mimimal setup, it is working. If you want, [this](https://github.com/gklijs/bank-axon-graphql/tree/with-kafka-logger/kafka-event-logger) is the app I created to test. Do you maybe also use the consumer directly to either commit offsets or to subscribe to a topic?

[2022-07-06 15:06] gklijs opened #306 "KafkaPublisher should not be needed when you only want a fetcher."
### Enhancement Description

With additional configuration it should be possible to have a fetcher, consuming events from Kafka, without needing to configure a `KafkaPublisher` instance.

### Current Behaviour

As `KafkaPublisher` is conditional, the `KafkaAutoConfiguration` won't do anything when it's not there.

### Wanted Behaviour

Being able to have auto configuration when only using the fetc

[2022-07-06 18:13] zambrovski commented on #305
Hi Gerard. We Don't use the consumer directly but use Spring Cloud Streams Kafka only. The one idea I have on it is a reconnect. Since we use it with Azure Event Hubs we observe a "relogin" because of the token expiration in Azure. I believe this could cause some problems with the consumer not assigned to anything... And - it is not deterministic, but happensa eventually.

This is probably difficu

[2022-07-14 09:41] #305 closed

[2022-11-08 15:50] tiger-seo opened #352 "Circular dependencies in Spring Boot with Axon Framework 4.6 and Kafka Extension"
### Basic information

* Axon Framework version: 4.6.2
* JDK version:  14
* Kafka Extension version: 4.6.0
* Complete executable reproducer if available (e.g. GitHub Repo):

### Steps to reproduce

AxonKafkaConfig.class
[code]

### Expected behaviour

successfully run spring boot app with axon framework 4.6 and kafka extension

### Actual behaviour

following error:

[code]

### Findings

I believ

[2022-11-08 16:29] tiger-seo commented on #352
@gklijs thanks for suggestion, unfortunately it doesn't resolve the issue and I have a similar error:

[code]

[2022-11-08 22:09] gklijs commented on #352
That's true, and I should update it some time. However this [Hotel demo branch ](https://github.com/AxonIQ/hotel-demo/blob/kafka_extension_solutions/integration/src/main/java/io/axoniq/demo/hotel/promo_integration/IntegrationApplication.java) is 4.6 and working. For registering the module, you now use a bean. I think that should be a void method with autowire like [here](https://github.com/AxonFra

[2022-11-11 18:11] tiger-seo commented on #352
thank u for help , i have fixed the problem by doing similar setup - configureSubscribableKafkaSource and beans in different classes

[2022-11-11 18:11] #352 closed